#background {
  height: 100vh;
  // background-color: #210002;
}

.keyart,
.keyart_layer {
  height: 1100px;
  @media (max-width: 800px) {
    height: 800px;
  }
}

$background-color_1: #ffaf1b;
$background-color_2: #ffaf00;

.keyart {
  position: relative;
  z-index: 200;
}
.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: absolute;
  will-change: transform; // 성능 최적화를 위해 추가
}
#keyart-0 {
  background-color: $background-color_1;
}
#keyart-scrim {
  background-color: $background-color_2;
  opacity: 0;
}
