#footer {
  font-family: var(--mainKor-font);
}
.footer__inner {
  padding: 16px;

  .footer__text {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color-sunset);
    // border-top: 1px solid var(--subBg500);
    // border-bottom: 1px solid var(--subBg500);
    display: flex;
    justify-content: space-between;
  }
  .footer__info {
    display: flex;
    color: var(--text-color-sunset);
    justify-content: center;
    margin: 100px 0;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .left {
      width: 40%;

      @media (max-width: 800px) {
        width: 100%;
      }

      .title {
        border-top: 2px solid var(--text-color-sunset);
        border-bottom: 1px solid var(--text-color-sunset);
        padding: 20px 0;
        text-transform: uppercase;
        font-weight: 700;
        // background: url(../../img/arrow.svg) no-repeat right 20px;
        transition: all 0.3s;

        &:hover {
          background-color: var(--black400);
          padding-left: 10px;
          border-color: transparent;
        }
      }
      .desc {
        font-size: 12px;
        padding-top: 20px;

        @media (max-width: 800px) {
          margin-bottom: 40px;
        }
      }
    }

    .right {
      width: 50%;

      @media (max-width: 800px) {
        width: 100%;
      }

      h3 {
        border-top: 2px solid var(--text-color-sunset);
        font-size: 10px;
        margin-bottom: 40px;
        padding-top: 10px;
      }
      ul {
        border-top: 1px solid var(--text-color-sunset);

        li {
          border-bottom: 1px solid var(--text-color-sunset);

          a {
            padding: 14px 0;
            font-size: 14px;
            display: inline-block;
            text-transform: uppercase;
          }
          em {
            font-size: 12px;
            padding-left: 10px;
            opacity: 0;
            transition: all 0.3s;
          }

          &:hover {
            em {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .footer__right {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-sunset);
    font-size: 12px;
    margin-bottom: 20px;
  }
}
