// #intro {
//   height: 100vh;
// }
.intro__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px;

  @media (max-width: 800px) {
    justify-content: center;
    padding: 16px 8px; // 모바일 환경에서 패딩 조정
  }

  .intro__title {
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -0.5vw;
    letter-spacing: -0.3vw;
    color: var(--text-color-sunset);

    @media (max-width: 800px) {
      font-size: 5.5vw; // 조금 더 작은 화면에서도 가독성 유지
    }

    @media (max-width: 320px) {
      font-size: 16px; // 매우 작은 화면에서 고정 크기로 변경
    }
  }
  .intro__text {
    width: 100%;
    height: 60vh;
    background-color: var(--text-color-sunset);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .text {
      display: flex;
      font-size: 3vw;
      line-height: 1;
      font-weight: 900;
      // text-decoration: underline;
      text-align: center;
      position: relative;
      z-index: 100;
      transition: all 0.3s;
      color: var(--sub-text-color-sunset);
      cursor: all-scroll;

      .textbox {
        margin-right: 5vw;

        @media (max-width: 800px) {
          margin-right: 0; // 모바일에서 마진 제거
          margin-bottom: 20px; // 텍스트 박스 간 간격 조정
        }

        .textbox__title {
          text-transform: uppercase;
          font-size: 1.7vw;
        }

        .textbox__content {
          font-weight: 600;
          font-size: 0.7vw;
        }
      }

      @media (max-width: 800px) {
        font-size: 24px;
      }
    }
    .img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30vh;
      height: 30vh;
      border-radius: 50%;
      overflow: hidden;
      filter: grayscale(100%);
      transition: all 0.3s;

      @media (max-width: 800px) {
        width: 25vh; // 모바일에서 이미지 크기 조정
        height: 25vh;
      }

      @media (max-width: 320px) {
        width: 20vh;
        height: 20vh;
      }
    }

    .about {
      color: var(--sub-text-color-sunset);
      position: absolute;
      text-align: center;
      bottom: 0px;
      font-size: 2vw;

      @media (max-width: 800px) {
        font-size: 16px; // 모바일 화면에서 고정 크기로 변경
        width: 90%; // 화면 폭에 맞게 너비 조정
        bottom: 20px; // 하단 여백 추가로 콘텐츠와의 간격 조정
      }

      .about__title {
        font-weight: 500;
        margin-bottom: 10px; // 제목과 내용 사이의 간격 추가
      }

      .about__content {
        font-size: 0.6vw;
        width: 70%;
        margin: 0 auto;

        @media (max-width: 800px) {
          font-size: 14px; // 모바일 화면에서의 가독성 향상
          width: 100%; // 모바일 화면에서 콘텐츠 폭 최대화
          margin: 0 auto; // 자동 마진으로 가운데 정렬
          padding: 0 20px; // 내부 패딩으로 텍스트 여백 조정
        }
      }
    }

    &:hover .text {
      opacity: 0;
    }
    &:hover .img {
      filter: grayscale(0);
    }
  }
  .intro__lines {
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--text-color-sunset);
      margin-bottom: 0.5vw;

      &:nth-child(1) {
        height: 1px;
      }
      &:nth-child(2) {
        height: 2px;
      }
      &:nth-child(3) {
        height: 5px;
      }
      &:nth-child(4) {
        height: 9px;
      }
      &:nth-child(5) {
        height: 13px;
      }
      &:nth-child(6) {
        height: 17px;
      }
      &:nth-child(7) {
        height: 25px;
      }
    }

    &.bottom {
      .line {
        margin-top: 0.5vw;
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px) {
          display: block;
        }

        &:nth-child(1) {
          height: 25px;
        }
        &:nth-child(2) {
          height: 17px;
        }
        &:nth-child(3) {
          height: 13px;
        }
        &:nth-child(4) {
          height: 9px;
        }
        &:nth-child(5) {
          height: 5px;
        }
        &:nth-child(6) {
          height: 2px;
        }
        &:nth-child(7) {
          height: 1px;
        }
      }
    }
  }
}
